<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"> </ion-back-button>
    </ion-buttons>
    <ion-title>Larry Rass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id="background">
    <!------------------------ TODO ------------------------------>
    <ion-grid>
      <ion-row>
        <ion-infinite-scroll>
        <!--------The first person-------->
        <h6 style="text-align: center; color: crimson;">9:15 PM</h6>
        <ion-col>
          <ion-item lines="none" button>
            <ion-avatar slot="start">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
            <ion-text class="first"
              >Hi jack how are you I hop you are fine, tell me yours, I am going
              to play now shall we do thatHi jack how are you I hop you are fine, tell me yours, I am going
              to play now shall we do thatHi jack how are you I hop you are fine, tell me yours, I am going
              to play now shall we do thatHi jack how are you I hop you are fine, tell me yours, I am going
              to play now shall we do thatHi jack how are you I hop you are fine, tell me yours, I am going
              to play now shall we do that</ion-text
            >
          </ion-item>
        </ion-col>
        <ion-col>
          <div>
            <!-----------TODO Image------------>
            <!--Open Modal to show image on click-->
            <ion-card>
              <ion-img src="../../assets/imgs/cooker.png"></ion-img>
            </ion-card>
            <!--------------------------------->
          </div>
        </ion-col>
        <!------- The 2nd person --------->
        <ion-col class="second">
          <ion-item lines="none" button>
            <ion-text slot="end" class="second">Hi jack how are you ?</ion-text>
            <ion-avatar slot="end">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
          </ion-item>
        </ion-col>
        <!--------The first person-------->
        <ion-col>
          <ion-item lines="none" button>
            <ion-avatar slot="start">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
            <ion-text class="first"
              >Hi jack how are you I hop you are fine, tell me yours, I am going
              to play now shall we do that</ion-text
            >
          </ion-item>
        </ion-col>
        <!------- The 2nd person --------->
        <ion-col class="second">
          <ion-item lines="none" button>
            <ion-text slot="end" class="second">Hi jack how are you ?</ion-text>
            <ion-avatar slot="end">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
          </ion-item>
        </ion-col>
        <!--------The first person-------->
        <ion-col>
          <ion-item lines="none" button>
            <ion-avatar slot="start">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
            <ion-text class="first"
              >Hi jack how are you I hop you are fine, tell me yours, I am going
              to play now shall we do that</ion-text
            >
          </ion-item>
        </ion-col>
        <!------- The 2nd person --------->
        <ion-col class="second">
          <ion-item lines="none" button>
            <ion-text slot="end" class="second">Hi jack how are you ?</ion-text>
            <ion-avatar slot="end">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
          </ion-item>
        </ion-col>
        <!--------The first person-------->
        <ion-col>
          <ion-item lines="none" button>
            <ion-avatar slot="start">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
            <ion-text class="first"
              >Hi jack how are you I hop you are fine, tell me yours, I am going
              to play now shall we do that</ion-text
            >
          </ion-item>
        </ion-col>
        <!------- The 2nd person --------->
        <ion-col class="second">
          <ion-item lines="none" button>
            <ion-text slot="end" class="second">Hi jack how are you ?</ion-text>
            <ion-avatar slot="end">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
          </ion-item>
        </ion-col>
        <!--------The first person-------->
        <ion-col>
          <ion-item lines="none" button>
            <ion-avatar slot="start">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
            <ion-text class="first"
              >Hi jack how are you I hop you are fine, tell me yours, I am going
              to play now shall we do that</ion-text
            >
          </ion-item>
        </ion-col>
        <!------- The 2nd person --------->
        <ion-col class="second">
          <ion-item lines="none" button>
            <ion-text slot="end" class="second">Hi jack how are you ?</ion-text>
            <ion-avatar slot="end">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
          </ion-item>
        </ion-col>
        <!--------The first person-------->
        <ion-col>
          <ion-item lines="none" button>
            <ion-avatar slot="start">
              <ion-img src=".././assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
            <ion-text class="first"
              >Hi jack how are you I hop you are fine, tell me yours, I am going
              to play now shall we do that</ion-text
            >
          </ion-item>
        </ion-col>
        <!------- The 2nd person --------->
        <ion-col class="second">
          <ion-item lines="none" button>
            <ion-text slot="end" class="second">Hi jack how are you ?</ion-text>
            <ion-avatar slot="end">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
          </ion-item>
        </ion-col>
        <!--------The first person-------->
        <ion-col>
          <ion-item lines="none" button>
            <ion-avatar slot="start">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
            <ion-text class="first"
              >Hi jack how are you I hop you are fine, tell me yours, I am going
              to play now shall we do that</ion-text
            >
          </ion-item>
        </ion-col>
        <!------- The 2nd person --------->
        <ion-col class="second">
          <ion-item lines="none" button>
            <ion-text slot="end" class="second">Hi jack how are you ?</ion-text>
            <ion-avatar slot="end">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
          </ion-item>
        </ion-col>
        <!--------The first person-------->
        <ion-col>
          <ion-item lines="none" button>
            <ion-avatar slot="start">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
            <ion-text class="first"
              >Hi jack how are you I hop you are fine, tell me yours, I am going
              to play now shall we do that</ion-text
            >
          </ion-item>
        </ion-col>
        <!------- The 2nd person --------->
        <ion-col class="second">
          <ion-item lines="none" button>
            <ion-text slot="end" class="second">Hi jack how are you ?</ion-text>
            <ion-avatar slot="end">
              <ion-img src="../../assets/imgs/Review1.png"></ion-img>
            </ion-avatar>
          </ion-item>
        </ion-col>
        </ion-infinite-scroll>
  
      </ion-row>
    </ion-grid>
  </div>


</ion-content>

<ion-footer fixed>
  <ion-item>
    <ion-input style="height: 80px" type="text" placeholder="Type here">
    </ion-input>
    <ion-icon slot="end" color="primary" name="camera"></ion-icon>
    <ion-icon slot="end" color="primay" name="image" slot="end"></ion-icon>
    <ion-icon slot="end" color="primary" name="send" slot="end"></ion-icon>
  </ion-item>
</ion-footer>
