.bk{
    width: 100%;
    height: auto;
    background-repeat: repeat-y;
    background-size: cover;
}
div{
    background-color: rgb(221, 220, 220);
    height: auto;
}

ion-toolbar ion-img{
    width: 64px;
    height: 64px;
}

ion-item{
    background-color: transparent;
}