<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-img  src="../../assets/imgs/Sublogo.png"></ion-img>
    </ion-title>
    <ion-button slot='end' fill='clear' color='light'>
      <ion-icon name='earth' slot='icon-only'></ion-icon>
    </ion-button>
    <ion-button slot='end' fill='clear' color='light'>
      <ion-icon slot='icon-only' name='search'></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
      <!-- fab placed to the bottom end -->
      <ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary">
          <ion-icon  name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
<ion-content>
  <div style="height: 100%;">

  <ion-card button>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img  src="../../assets/imgs/jenifer.png">
      </ion-img></ion-avatar>
      <ion-label style="display: inline-block;"> Jeniffier is Making a<br><span style="color: crimson;">Bhorta</span> at her home</ion-label>
      <p style="opacity: .5;">12 min</p>
    </ion-item>
    <ion-img src="../../assets/imgs/jeniferFood.png">
      </ion-img>
  </ion-card>
  <ion-card button>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img  src="../../assets/imgs/Tom.png">
      </ion-img></ion-avatar>
      <ion-label style="display: inline-block;"> Tom Hardy  is Making <br><span style="color: crimson;">Muffins</span> at his home</ion-label>
      <p style="opacity: .5;">12 min</p>
    </ion-item>
    <ion-img src="../../assets/imgs/TomFood.png">
      </ion-img>
  </ion-card>
  <ion-card button>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img  src="https://images.unsplash.com/photo-1541647376583-8934aaf3448a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
      </ion-img></ion-avatar>
      <ion-label style="display: inline-block;"> Marty McFly  was Making <br><span style="color: crimson;">Molo5ya</span></ion-label>
      <p style="opacity: .5;">12 min</p>
    </ion-item>
    <ion-img src="https://images.pexels.com/photos/210186/pexels-photo-210186.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      </ion-img>
  </ion-card>
  <ion-card button>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img  src="https://images.unsplash.com/photo-1541647376583-8934aaf3448a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
      </ion-img></ion-avatar>
      <ion-label style="display: inline-block;"> Marty McFly  was Making <br><span style="color: crimson;">Molo5ya</span></ion-label>
      <p style="opacity: .5;">12 min</p>
    </ion-item>
    <ion-img src="https://images.pexels.com/photos/210186/pexels-photo-210186.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      </ion-img>
  </ion-card>
  </div>

</ion-content>
