

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-img src="../../assets/imgs/logo.png"></ion-img>
          <h5>Best place for <span style="color: crimson;">food lovers</span> like you</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img src="../../assets/imgs/cooker.png"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h5>Create a new account or sign in</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button [routerLink]='"/verify"' expand="block" color="primary" >Get Started</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="primary" fill="outline">Sign in</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
