<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-img  src="../../assets/imgs/Sublogo.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <ion-list>
      <ion-item-divider>
        <ion-label > General Settings </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label style="color: crimson;">Chat Preference</ion-label>
        <ion-text style="opacity: .5;">01016298017</ion-text>
      </ion-item>
      <ion-item>
        <ion-label style="color: crimson;">Email</ion-label>
        <ion-text style="opacity: .5;">mohamedhussin07@gmail.com</ion-text>
      </ion-item>
      <ion-item>
        <ion-label style="color: crimson;"> Preference</ion-label>
        <ion-text></ion-text>
      </ion-item>
    </ion-list>
    
    <ion-list>
      <ion-item-divider>
        <ion-label> App Settings </ion-label> </ion-item-divider
      ><ion-item>
        <ion-label style="color: crimson;">Chat Preference</ion-label>
        <ion-text style="opacity: .5;">01016298017</ion-text>
      </ion-item>
      <ion-item>
        <ion-label style="color: crimson;">Text Tone</ion-label>
        <ion-text style="opacity: .5;">Bambo</ion-text>
      </ion-item>
      <ion-item>
        <ion-label style="color: crimson;"> Audio Chat</ion-label>
        <ion-text>
          <ion-toggle checked></ion-toggle>
        </ion-text>
      </ion-item>
    </ion-list>
    
  </div>
</ion-content>
